/* SignUpForm.css */
.signup-container {
  text-align: center;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.signup-form {
  text-align: left;
}

.signup-form label {
  display: block;
  margin-bottom: 5px;
}

.signup-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.signup-form button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.go-home-button {
  width: 100%;
  padding: 10px;
  background-color: none;
  color: black;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-top: 20px; /* ボタンとフォームの間に余白を追加 */
}
