/* LoginForm.css */
.login-container {
  text-align: center;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; /* 上部の余白を調整 */
}

.login-form {
  text-align: left; /* フォーム内のテキストは左寄せに */
}

.login-form label {
  display: block;
  margin-bottom: 5px;
}

.login-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

/* スタイルを追加しても良い */
.go-home-button {
  width: 100%;
  padding: 10px;
  background-color: none;
  color: black;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-top: 20px; /* ボタンとフォームの間に余白を追加 */
}
